.lojas-bg {
  background-color: var(--cor-1);
}
.lojas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.lojas h2 {
  grid-column: 1/-1;
  margin-bottom: 60px;
}
.lojas img {
  border-radius: 5px 5px 0 0;
}
.lojas-item {
  background-color: var(--cor-0);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 26px;
  padding: 32px;
}
.lojas-conteudo h3,
.lojas-horario {
  grid-column: 1/-1;
}
.lojas-horario {
  display: flex;
  align-items: center;
  gap: 8px;
}
.lojas-dados {
  display: grid;
  gap: 8px;
  border-left: 2px solid var(--cor-2);
  padding-left: 12px;
}
button {
  grid-column: span 2;
}
@media (max-width: 800px) {
  .lojas {
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .lojas h2 {
    margin-bottom: 32px;
  }
  .lojas-conteudo {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .lojas {
    grid-template-columns: 1fr;
  }
  .footer-contato li:nth-child(even):after {
    border-bottom: none;
  }
}
